<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connectionString" value="Server=DESKTOP-NKHDLPV\\SQLEXPRESS;Database=ProiectBD;Integrated Security=true;"/>
    <add key ="parentTableName" value="Universitate"/>
    <add key="childTableName" value="Profesori"/>
    <add key="uniParams" value ="univid,adresa,nume"/>
    <add key="profParams" value="cod_prof,univid,nume,grad,field,nrcoursespersemester"/>
    <add key="filterCommand" value ="SELECT * FROM PROFESORI WHERE UNIVID = @id "/>
    <add key="updateCommand" value = "UPDATE PROFESORI SET NUME = @p0, GRAD = @p1, FIELD = @p2, NRCOURSESPERSEMESTER=@p3,  WHERE COD_PROF = @p3"/>
    <add key="deleteCommand" value ="DELETE FROM PROFESORI WHERE COD_PROF = @id"/>
    <add key="insertCommand" value ="INSERT INTO PROFESORI VALUES (@p1, @p2, @p3, @p4, @p5, @p6)"/>
    <add key="getAllCommand" value = "SELECT * FROM UNIVERSITATE"/>
    
  </appSettings>
</configuration>